.gateway-card {
    display: inline-block;
    margin: 0 12px;
}

/* Card cover */

.gateway-card-cover {
    text-align: center;
    margin-top: 10px;
}

/* Card title */

.gateway-card-title {
    display: flex;
}

.gateway-card-title > span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.gateway-card-title-edit {
    margin-left: 4px;
    margin-top: 2px;
    cursor: pointer;
}

/* Card title popover */

.gateway-card-title-popover {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.gateway-card-title-popover > button {
    margin-top: 12px;
    width: 40%;
}

/* Card status indicator */

.color-green {
    margin-top: 4px;
    color: #00CC00
}

.color-red {
    margin-top: 4px;
    color: #CC0000
}
