/* @import '~antd/dist/antd.css'; */

.App-root {
  min-height: 100vh;
}

.App-header {
  height: 64px;
}

.App-footer {
  text-align: center;
}

.App-title {
  height: 64px;
  line-height: 64px;
  color: rgb(255, 255, 255);
  font-size: 1.25em;
  text-align: center;
  vertical-align: middle;
}

.App-header-badge {
  float: right;
  margin-top: 24px;
  margin-left: 30px;
}

.App-header-icon {
  color: rgba(255, 255, 255, 0.65);
  height: 2em;
  width: 2em;
}

.App-header-avatar {
  background-color: rgb(135, 208, 104);
  float: right;
  margin-top: 12px;
  margin-left: 30px;
}

.App-menu-icon {
  height: 1.5em;
  width: 1.5em;
  margin-right: 10px;
}

.ant-layout-sider-collapsed .App-title,
.ant-menu-inline-collapsed > .ant-menu-item .App-menu-icon + span {
  max-width: 0;
  /* display: inline-block; */
  opacity: 0;
}
