# See https://help.github.com/ignore-files/ for more about ignoring files.

# IDE
/.vscode

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# dependencies
node_modules

# testing
*/coverage

# production
dist
/server/public

# data
/server/data/*

# pm2 deployment
ecosystem.deploy.json

# TS build info
*.tsbuildinfo

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log*

