{
  "deploy": {
    "production": {
      "host": "CHANGEME",
      "repo": "https://github.com/sipe90/tradfri-control-panel.git",
      "ref": "origin/master",
      "path": "/var/tradfri-control-panel",
      "post-deploy": "npm i && npm run build && pm2 startOrRestart ecosystem.json"
    }
  }
}
