/* Item Meta title */
.sensor-item-title {
    display: flex;
}

.sensor-item-title>span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sensor-item-title-edit {
    margin-left: 4px;
    margin-top: 2px;
    cursor: pointer;
}

/* Item Meta title popover */
.sensor-item-title-popover {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sensor-item-title-popover>button {
    margin-top: 12px;
    width: 40%;
}

/* Item status indicator */
.color-green {
    margin-top: 4px;
    color: #00CC00
}

.color-red {
    margin-top: 4px;
    color: #CC0000
}
