.gateway-card {
    display: inline-block;
    margin: 0 12px;
}

/* Card cover */

.gateway-card__cover {
    text-align: center;
    margin-top: 10px;
}

/* Card title */

.gateway-card__title {
    display: flex;
}

.gateway-card__title>span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.gateway-card__name-edit {
    margin-left: 4px;
    margin-top: 2px;
    cursor: pointer;
}

/* Card title popover */

.gateway-card__popover {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.gateway-card__popover>button {
    margin-top: 12px;
    width: 40%;
}

/* Card status indicator */

.gateway-card__status {
    margin-right: 10px;
}

.gateway-card__status-icon {
    margin-top: 4px;
}

.gateway-card__status-icon--connected {
    color: #00CC00
}

.gateway-card__status-icon--disconnected {
    color: #CC0000
}
