/* Common */

.form-section__content>div {
    margin-top: 16px;
}

.form-section__button-row {
    text-align: right;
}

.form-section__button-row>div {
    display: inline-block;
    margin-left: 8px;
}

.spinner-icon {
    font-size: 24;
}

.status-text {
    margin-left: 16px;
    color: #1890ff;
}

/* Discovery step */

.discovery__discover {
    display: flex;
}

.discovery__status {
    margin-left: 16px;
    margin-top: 4px;
}

.discovery__table-header {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    margin-bottom: 16px;
}

.discovery__input {
    display: flex;
}

.discovery__input>div {
    margin-right: 16px;
}

/* Authentication step */

.auth__security-code,
.auth__input {
    margin-top: 0 !important;
    display: flex;
}

.auth__status {
    margin-left: 16px;
    margin-top: 46px;
}

.auth__input>div {
    margin-right: 16px;
}

/* Test connection step */

.test__content {
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.test__content>div {
    margin-top: 16px;
}

.test__status--success {
    color: #48c300;
}

.test__status--failure {
    color: #f5222d;
}
