
.gateway {
    display: inline-block;
    margin: 0 12px;
}

.gateway__actions {
    padding: 4px 0px;
}

.gateway__actions>button {
    margin-right: 4px;
}

/* Gateway details table */

.gateway__table {
    border-spacing: 120px;
}

.gateway__table td {
    vertical-align: middle;
    height: 30px;
}

.gateway__table td:nth-of-type(1) {
    font-weight: bold;
}

.gateway__table td:nth-of-type(2) {
    padding-left: 12px
}
