
.flux__settings {
    text-align: left;
}

.flux__settings > div {
    margin-bottom: 12px;
}

.flux__settings > div:nth-child(odd) {
    font-weight: bold;
}

.flux__settings > div:nth-child(even) {
    margin-left: 12px;
}