/* Item Meta title */
.sensor-item__title {
    display: flex;
}

.sensor-item__title>span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sensor-item__name-edit {
    margin-left: 4px;
    margin-top: 2px;
    cursor: pointer;
}

/* Item Meta title popover */
.sensor-item__popover {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sensor-item__popover>button {
    margin-top: 12px;
    width: 40%;
}
