.light-card {
    margin: 10px 10px;
    max-width: 300px;
}

.color-green {
    color: #00CC00
}

.color-red {
    color: #CC0000
}

.light-card-table {
    width: 100%;
    margin-top: 24px;
}

.light-card-table > tbody > tr > td {
    vertical-align: middle;
    height: 30px;
}

.light-card-table > tbody > tr > td:last-of-type {
    width: 40%;
    text-align: right;
}
