.nav-menu {
    text-align: center;
}

.nav-item {
    display: inline-block;
    height: 64px;
    padding: 6px 16px 2px 16px;
    color: rgba(255, 255, 255, 0.80);
}

.nav-item-active,
.nav-item-active:focus {
    background-color: #1890ff;
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff;
}
