/* Item Meta title */
.light-item-title {
    display: flex;
}

.light-item-title>span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.light-item-title-edit {
    margin-left: 4px;
    margin-top: 2px;
    cursor: pointer;
}

/* Item Meta title popover */
.light-item-title-popover {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.light-item-title-popover>button {
    margin-top: 12px;
    width: 40%;
}

/* Item Meta title status indicator */
.color-green {
    margin-top: 4px;
    color: #00CC00
}

.color-red {
    margin-top: 4px;
    color: #CC0000
}

/* Item control table */
.light-item-table {
    width: 100%;
    margin-top: 24px;
}

.light-item-table td {
    vertical-align: middle;
    height: 30px;
}

.light-item-table td:last-of-type {
    width: 40%;
    text-align: right;
}
