/* Item Meta title */
.light-item__title {
    display: flex;
}

.light-item__meta {
    text-align: left;
}

.light-item__title>span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.light-item__name-edit {
    margin-left: 4px;
    margin-top: 2px;
    cursor: pointer;
}

/* Item Meta title popover */
.light-item__popover {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.light-item__popover>button {
    margin-top: 12px;
    width: 40%;
}

/* Item Meta title status indicator */
.light-item__status {
    margin-right: 10px;
}

.light-item__status-icon {
    margin-top: 4px;
}

.light-item__status-icon--connected {
    color: #00CC00
}

.light-item__status-icon--disconnected {
    color: #CC0000
}

/* Item control table */
.light-item__table {
    margin-top: 24px;
}

.light-item__table td {
    vertical-align: middle;
    height: 30px;
}

.light-item__table td:nth-of-type(1) {
    width: 34px;
}

.light-item__table td:nth-of-type(2) {
    width: 100px;
}

.light-item__table td:nth-of-type(3) {
    width: 340px;
    text-align: right;
}

.light-item__table tr:nth-of-type(1)>td:nth-of-type(3)>:first-child {
    margin-left: 6px;
}
